body {
  background-color:       #fff;
  font-family:            Arial, Helvetica, sans-serif, sans-serif;
  float:                  left;
  font-size:              150%;
  color:                  #7A7A7A;
  line-height: 1em;
  margin: 2em;
}

a, span.good {
  color:                  MediumSeaGreen;
  text-decoration:        none;
}

span.bad {
  color:                  OrangeRed;
}

p {
  font-weight:            100;
  margin:                 1em 0 2em 0;
}

img {
  border-style:           none;
}

h1 {
  font-weight:            600;
  font-size:              1.6em;
}

h2 {
  font-weight:            100;
  font-size:              1em;
  font-style:             italic;
}


h3 {
  font-family:            "Trebuchet MS", "Univers", sans-serif;
  text-align:             center;
  font-size:              .8em;
  font-weight:            600;
  font-variant:           small-caps;
}

.shadow {
  -moz-box-shadow:    1px 1px 1px 1px #aaa;
  -webkit-box-shadow: 1px 1px 1px 1px #aaa;
  box-shadow:         1px 1px 1px 1px #aaa;
}
