body {
  background-color:       #04043a;
  font-family: 'Asap', Helvetica, sans-serif;
  float:                  left;
  font-size:              100%;
  color:                  #ddd;
  line-height: 1em;
  margin: 2em;
}

img#loading {
  width: 10px;
  margin-right: .5em;
}

a, span.good {
  color:                  MediumSeaGreen;
  text-decoration:        none;
}

span.bad {
  color:                  IndianRed;
}

p {
  font-weight:            100;
  margin:                 1em 0 2em 0;
}

img {
  border-style:           none;
}

h1 {
  font-weight:            600;
  font-size:              1.6em;
  margin-bottom:          2em;
}

h2 {
  font-weight:            100;
  font-size:              1em;
  font-style:             italic;
}


h3 {
  font-family: 'Arvo', Futura, serif;
  font-size:              .8em;
  font-weight:            600;
  font-variant:           small-caps;
  display: inline;
}

.shadow {
  -moz-box-shadow:    1px 1px 1px 1px #aaa;
  -webkit-box-shadow: 1px 1px 1px 1px #aaa;
  box-shadow:         1px 1px 1px 1px #aaa;
}
