html, body, div#meta {
  height: 100%;
}
body {
  margin: 0px;
  overflow: hidden;
  font-size:.8vw;
  text-align:center;
  font-family: 'Asap', Helvetica, sans-serif;
}

@media (max-aspect-ratio: 5760/2304) { /* For immersive scholar Art wall at Hunt library */
  body {
    font-size: .9vw;
  }
}

.dg {
  display: none;
}

#SurfaceTension {
  float: left;
}

#meta {
  overflow: auto;
  background-color: #101042;
  color: LightCyan;
  padding: 3em;
  height: 100%;
  background-image: url("../img/meta-background.jpg");
}

#meta a, a:link, a:visited {
  color: LightCyan;
  text-decoration: none;
}

#meta a:hover, a:active {
  color: #fff;
  text-decoration: none;
}

h1 {
    font-family: 'Arvo', Futura, serif;
    font-variant: small-caps;
}

h2 {
  font-size: 1.3em;
  margin-bottom: 0.3em;
  font-variant: small-caps;
}

h3 {
  margin: 0 auto 3em auto;
}

#meta p {
  text-align: left;
  line-height: 1.5em;
}

#meta p.padded-p {
  margin-bottom: 2em;
}

#meta ul {
  font-size: .75em;
  list-style-type: none;
  padding: 1.5em 0 0;
  line-height: 1.5em;
  margin: 0;
  text-align: left;
  width: 50%;
  float: left;
}

#meta div#im_logo {
  width: 50%;
  float: left;
  padding: 1.5em 0 0;
}

#meta img {
  width: 75%;
  float: left;
}

div#byline {
  position: relative;
  text-align: right;
}
div#byline a {
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: white;
  font-size: .75em;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
