html, body, div#meta {
  height: 100%;
}
body {
  margin: 0px;
  overflow: hidden;
  font-family:Monospace;
  font-size:50px;
  text-align:center;
  text-align:center;

  font-family: 'Asap', sans-serif;
  font-family: 'Arvo', serif;
}

.dg {
  display: none;
}

#SurfaceTension {
  float: left;
}

#meta {
  overflow: auto;
  background-color: #101042;
  color: LightCyan;
  padding: 3em;
  height: 100%;
}

#meta a, a:link, a:visited {
  color: LightCyan;
  text-decoration: none;
}

#meta a:hover, a:active {
  color: #fff;
  text-decoration: none;
}

h3 {
  margin-bottom: 3em;
}

#meta p {
  text-align: left;
  line-height: 1.5em;
}

#meta ul {
  font-size: .75em;
  list-style-type: none;
  padding: 1.5em 0 0;
  line-height: 1.5em;
  margin: 0;
  text-align: left;
}
